<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_URL_SCHEMES)</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
	<key>GOOGLE_CLIENT_ID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
	<key>GOOGLE_URL_SCHEMES</key>
	<string>$(GOOGLE_URL_SCHEMES)</string>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSansKR-Bold.ttf</string>
		<string>NotoSansKR-Light.ttf</string>
		<string>NotoSansKR-Medium.ttf</string>
		<string>NotoSansKR-Regular.ttf</string>
		<string>NotoSansKR-SemiBold.ttf</string>
		<string>NotoSansKR-Thin.ttf</string>
	</array>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.jun.ToneUp</key>
		<string>match AppStore com.jun.ToneUp</string>
	</dict>
</dict>
</plist>
